<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BANÜ Voleybol Topluluğu</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <header class="main-navbar">
        <div class="nav-container">
            <div class="nav-left">
                <span class="site-title">BANÜ VOLEYBOL TOPLULUĞU</span>
            </div>

            <div class="nav-center">
                <img src="~/Images/logo.png" class="logo" />
            </div>

            <div class="nav-right">
                <a href="/" class="nav-link">Ana Sayfa</a>
                <a href="/About" class="nav-link">Hakkımızda</a>
                <a href="/Events" class="nav-link">Etkinliklerimiz</a>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>
</body>
</html>
